{
    "singleQuote": true,
    "jsxSingleQuote": false,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "printWidth": 140,
    "arrowParens": "always",
    "endOfLine": "lf"
}
